<div id="CartDrawer" class="drawer drawer--right">
   <div class="overlay"></div>
   <div class="drawer--popup-container">
      <div class="drawer__header">
         <div class="drawer__title h3">Shopping Cart</div>
         <div class="drawer__close js-drawer-close">
            <button type="button" class="icon-fallback-text">
               <span class="icon icon-x" aria-hidden="true"></span>
               <span class="fallback-text">"Close Cart"</span>
            </button>
         </div>
      </div>
      <div id="CartContainer"></div>
   </div>
</div>
