<div class="widget-category widget">
   <h4 class="widget__title">Categories</h4>
   <div class="widget__content">
      <ul class="menu">
         <li>
            <a href="/collections/best-seller" title="Best seller">Best seller
               <span>4</span>
            </a>
         </li>
         <li>
            <a href="/collections/boys" title="Boys">Boys
               <span>10</span>
            </a>
         </li>
         <li>
            <a href="/collections/frontpage" title="Home page">Home page
               <span>6</span>
            </a>
         </li>
         <li>
            <a href="/collections/men" title="Men">Men
               <span>10</span>
            </a>
         </li>
         <li>
            <a href="/collections/new-products" title="New Products">New Products
               <span>10</span>
            </a>
         </li>
         <li>
            <a href="/collections/women" title="Women">Women
               <span>12</span>
            </a>
         </li>
      </ul>
   </div>
</div>