<div class="widget-category widget">
   <h4 class="widget__title">Categories</h4>
   <div class="widget__content">
      <ul class="menu">
         {% for collection in collections %}
         <li {% if collection.handle == handle %} class="filter--active" {% endif %}>
            <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}
               <span>{{ collection.all_products_count }}</span>
            </a>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>