<section>
   <div class="wrapper">
      <div class="inner  section-custom-top">
         <!-- /templates/snippets/section-custom-top.liquid -->
         <div class="custom-top ">
            <div class="grid--full">
               <div class="grid__item large--one-half medium--one-half">
                  <a href="#" class="effect effect-v3" title="banner">
                     <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b1.jpg?3617569351442115498" alt="" />
                     <div class="text top-35 right-15">
                        <span class="text1">Summer 2016</span>
                        <br>
                        <span class="text2">Bag
                           <br/>Trending</span>
                     </div>
                  </a>
               </div>
               <div class="grid__item large--one-half medium--one-half">
                  <a href="#" class="effect effect-v3" title="banner">
                     <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b2.jpg?3617569351442115498" alt="" />
                     <div class="text bottom-20 left-25">
                        <span class="text1">Accessories</span>
                        <br>
                        <span class="text2">Sun Glasses</span>
                     </div>
                  </a>
               </div>
               <div class="grid__item large--one-third medium--one-third">
                  <a href="#" class="effect effect-v3" title="banner">
                     <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b3.jpg?3617569351442115498" alt="" />
                     <div class="text top-40 right-25">
                        <span class="text1">Shop</span>
                        <br>
                        <span class="text2">Women</span>
                     </div>
                  </a>
               </div>
               <div class="grid__item large--one-third medium--one-third">
                  <a href="#" class="effect effect-v3" title="banner">
                     <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b4.jpg?3617569351442115498" alt="" />
                     <div class="text top-40 right-25">
                        <span class="text1"></span>
                        <br>
                        <span class="text2"></span>
                     </div>
                  </a>
               </div>
               <div class="grid__item large--one-third medium--one-third">
                  <a href="#" class="effect effect-v3" title="banner">
                     <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b6.jpg?3617569351442115498" alt="" />
                     <div class="text top-40 right-40">
                        <span class="text1">Shop</span>
                        <br>
                        <span class="text2">Men</span>
                     </div>
                  </a>
               </div>
            </div>

         </div>

      </div>
   </div>
</section>