<header class="site-header">
   <div class="wrapper">
      <!-- /snippets/header.liquid -->
      <div class="header grid">
         <div class="logo large--one-fifth grid__item">
            <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
               <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/logo.png?3617569351442115498" alt="fashion shop" itemprop="logo">
               </a>
            </h1>
         </div>
         <div class="site-header__topbar medium-down--hide large--four-fifths grid__item">

            <div class="site-header__support  large--left">
               <span>Call for support:</span>
               <strong>1900 - 123 - 555</strong>
            </div>
            <!-- end call for support -->
            <div class="site-header__social  large--left">
               <span>Follow us:</span>
               <ul class="inline-list">
                  <li>
                     <a href="#">
                        <i class="icon icon-instagram"></i>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icon icon-youtube"></i>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icon icon-google"></i>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icon icon-twitter"></i>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="icon icon-facebook"></i>
                     </a>
                  </li>
               </ul>
            </div>
            <!-- end social -->
            <div class="site-header__search large--right">
               <!-- /snippets/search-bar.liquid -->
               <form action="/search" method="get" class="input-group search-bar" role="search">

                  <input type="search" name="q" value="" placeholder="Search our store" class="input-group-field" aria-label="Search our store">
                  <span class="input-group-btn">
                     <button type="submit" class="btn icon-fallback-text">
                        <span class="sprite sprite-search" aria-hidden="true"></span>
                        <span class="fallback-text">Search</span>
                     </button>
                  </span>
               </form>
            </div>
            <!-- end search -->
            <div class="site-header__account large--right">
               <span>
                  <i class="fa fa-user"></i>
                  Welcome (
                  <a href="/account/login" class="customer_login_link">Log in</a>)
               </span>
               <ul>
                  <li>
                     <i class="fa fa-smile-o"></i>
                     <a href="/account/login" class="customer_login_link">Log in</a>
                  </li>
                  <li>
                     <i class="fa fa-key"></i>
                     <a href="/account/register" class="customer_register_link">Create account</a>
                  </li>
                  <li>
                     <i class="fa fa-star-o"></i>
                     <a href="/pages/favourite">Favourite</a>
                  </li>
                  <li>
                     <i class="fa fa-heart-o"></i>
                     <a href="/pages/wish-list">Wishlist</a>
                  </li>
               </ul>
            </div>
            <!-- end account -->

            <!-- end currency -->
         </div>
         <div class="large--four-fifths grid__item">
            <div class="grid">
               <div class="grid__item large--three-quarters">
                  <nav class="nav-bar" role="navigation">
                     <!-- /snippets/menu.liquid -->
                     <div class="medium-down--hide">
                        <!-- begin site-nav -->
                        <ul class="site-nav" id="AccessibleNav">
                           <li class="site-nav--has-dropdown site-nav--active" aria-haspopup="true">
                              <a href="/" class="site-nav__link">
                                 Home
                                 <span class="icon icon-plus left" aria-hidden="true"></span>
                              </a>
                              <ul class="site-nav__dropdown">
                                 <li>
                                    <a href="http://fashion-shop-11.myshopify.com/?preview_theme_id=89832385" class="site-nav__link">Home page 1</a>
                                 </li>
                                 <li>
                                    <a href="http://fashion-shop-11.myshopify.com/?preview_theme_id=90606721" class="site-nav__link">Home page 2</a>
                                 </li>

                                 <li>
                                    <a href="http://fashion-shop-11.myshopify.com/?preview_theme_id=90769217" class="site-nav__link">Home page 3</a>
                                 </li>
                                 <li>
                                    <a href="http://fashion-shop-11.myshopify.com/?preview_theme_id=89788929" class="site-nav__link">Home page 4</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="site-nav--has-dropdown" aria-haspopup="true">
                              <a href="/collections/all" class="site-nav__link">
                                 Catalog
                                 <span class="icon icon-plus left" aria-hidden="true"></span>
                              </a>
                              <ul class="site-nav__dropdown">
                              {% for collection in collections %}
                                 <li>
                                    <a href="{{ collection.url }}" class="site-nav__link">{{ collection.title }}</a>
                                 </li>  
                              {% endfor %}
                              </ul>
                           </li>
                           <li class="site-nav--has-dropdown megamenu-dropdown" aria-haspopup="true">
                              <a href="#" class="site-nav__link">
                                 Featured
                                 <span class="icon icon-plus left" aria-hidden="true"></span>
                              </a>
                              <ul class="site-nav__dropdown">
                                 <li class="awemenu-megamenu-item">
                                    <div class="grid">
                                       <div class="grid__item large--one-fifth">
                                          <h3>Collection</h3>
                                          <ul class="super">
                                          {% for collection in collections %}
                                             <li>
                                                <a href="{{ collection.url }}" class="site-nav__link">{{ collection.title }}</a>
                                             </li>  
                                          {% endfor %}
                                          </ul>
                                       </div>
                                       <div class="grid__item large--one-fifth">
                                          <h3>Shop</h3>
                                          <ul class="super">
                                             <li>
                                                <a href="/pages/shipping">Shipping</a>
                                             </li>
                                             <li>
                                                <a href="#">Favorite</a>
                                             </li>
                                             <li>
                                                <a href="/pages/wish-list">Wishlist</a>
                                             </li>
                                             <li>
                                                <a href="/pages/gift-card">Gift card</a>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="grid__item large--one-fifth">
                                          <h3>Featured</h3>
                                          <ul class="super">
                                             <li>
                                                <a href="/collections/kids">Kids</a>
                                             </li>
                                             <li>
                                                <a href="/collections/girls">Girls</a>
                                             </li>
                                             <li>
                                                <a href="/collections/boys">Boys</a>
                                             </li>
                                             <li>
                                                <a href="/collections/women">Women</a>
                                             </li>
                                             <li>
                                                <a href="/collections/men">Men</a>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="grid__item large--one-fifth">
                                          <h3>Custom link</h3>
                                          <ul class="super">
                                             <li>
                                                <a href="/">Affiliates</a>
                                             </li>
                                             <li>
                                                <a href="/">Jobs</a>
                                             </li>
                                             <li>
                                                <a href="/pages/contact-us">Contact</a>
                                             </li>

                                             <li>
                                                <a href="/search">Search</a>
                                             </li>
                                             <li>
                                                <a href="/pages/about-us">About us</a>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="grid__item large--one-fifth">
                                          <h3></h3>
                                          <a href="#">
                                             <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/megamenu_1_image_1.jpg?3617569351442115498" alt="image">
                                          </a>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                           <li>
                              <a href="/pages/about-us" class="site-nav__link">About us</a>
                           </li>
                           <li>
                              <a href="/pages/contact-us" class="site-nav__link">Contact us</a>
                           </li>
                           <li>
                              <a href="/apps/help-center" class="site-nav__link">Help center</a>
                           </li>
                           <li>
                              <a href="/blogs/news" class="site-nav__link">Blog</a>
                           </li>
                        </ul>
                        <!-- //site-nav -->
                     </div>
                     <div class="large--hide medium-down--show">
                        <div class="grid">
                           <div class="grid__item one-half">
                              <div class="site-nav--mobile">
                                 <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                                    <span class="icon icon-hamburger" aria-hidden="true"></span>
                                    <span class="fallback-text">Menu</span>
                                 </button>
                              </div>
                           </div>
                           <div class="grid__item one-half text-right">
                              <div class="site-nav--mobile">
                                 <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                                    <span class="icon-fallback-text">
                                       <span class="sprite sprite-cart" aria-hidden="true"></span>
                                       <span class="fallback-text">Cart</span>
                                    </span>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="grid__item large--one-quarter medium--one-quarter medium-down--hide">
                  <div class="large--right">
                     <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                        <span class="sprite sprite-cart" aria-hidden="true"></span>
                        <span id="CartCount">0</span>
                        items
                        <span id="CartCost">
                           <span class="money">$0.00</span>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>