<section>
   <div class="wrapper">
      <div class="inner  section-blog">
         <!-- /templates/snippets/section-blog.liquid -->


         <div class="bgFull latest-posts latest-posts-v1 grid text-left space-top-60">
            <div class="grid__item large--one-quarter medium--one-quarter">
               <h2 class="title widget__title">Our Blog</h2>
            </div>
            <div class="grid__item large--one-half medium--three-quarters">

               <div class="latest-posts-body">

                  <div class="post-thumbnail">
                     <a href="/blogs/news/92303489-5-most-common-mistakes-new-managers-make" title="">
                        <img src="//cdn.shopify.com/s/files/1/1195/4332/articles/blog3-3_1024x1024.jpg?v=1457490183" alt="" class="img-responsive">
                     </a>
                  </div>

                  <div class="entry-meta">
                     <em>March 08, 2016</em>
                     <div class="entry-content">
                        <h4 class="entry-title">
                           <a href="/blogs/news/92303489-5-most-common-mistakes-new-managers-make" title="5 Most Common Mistakes New Managers Make">5 Most Common Mistakes New Managers Make</a>
                        </h4>
                        <p>In life you have to take the trash out, if you have trash in your life, take it out, throw it away,
                           get rid of...</p>
                     </div>
                  </div>
               </div>

               <div class="latest-posts-body">

                  <div class="post-thumbnail">
                     <a href="/blogs/news/92303041-proper-color-solutions-for-the-office" title="">
                        <img src="//cdn.shopify.com/s/files/1/1195/4332/articles/blog2_1024x1024.jpg?v=1457490167" alt="" class="img-responsive">
                     </a>
                  </div>

                  <div class="entry-meta">
                     <em>March 08, 2016</em>
                     <div class="entry-content">
                        <h4 class="entry-title">
                           <a href="/blogs/news/92303041-proper-color-solutions-for-the-office" title="Proper color solutions for the office">Proper color solutions for the office</a>
                        </h4>
                        <p>Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world
                           out there. In life you have...</p>
                     </div>
                  </div>
               </div>

            </div>
            <div class="grid__item large--one-quarter medium-down--hide">
               <p class="banner">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/banner_blog.jpg?3617569351442115498" alt="" />
               </p>
            </div>
         </div>

      </div>
   </div>
</section>