<section>
   <div class="wrapper">
      <div class="inner space-40 section-custom-center">
         <!-- /templates/snippets/section-custom-center.liquid -->
         <div class="custom-center">

            <div class="space-padding-t80">
               <h2 class="title section-header">our story</h2>
               <div class="grid">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/b5.jpg?3617569351442115498" alt="" />
                  <div class="grid__item large--one-half push--large--one-half">
                     <div class="custom-content">
                        <p>The key to more success is to get a massage once a week, very important, major key, cloth talk. We
                           don’t see them, we will never see them. Surround yourself with angels. Every chance I get, I water
                           the plants, Lion! Egg whites, turkey sausage, wheat toast, water.
                           <br/> Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Look
                           at the sunset, life is amazing, life is beautiful, life is what you make it. Always remember in
                           the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                        <br>
                        <a class="btn btn--secondary" href="#">Read More</a>
                     </div>
                  </div>

               </div>

            </div>
         </div>
      </div>
   </div>
</section>