<section>
   <div class="wrapper">
      <div class="inner  section-services">
         <!-- section-services -->
         <div class="box-service">

            <div class="grid--full text-center">
               <div class="grid__item large--one-third medium--one-third">
                  <h5>free delivery worldwide</h5>
                  <p>on order over $50</p>
               </div>
               <div class="grid__item large--one-third medium--one-third">
                  <h5>first purchase discount</h5>
                  <p>10% off and more good stuff</p>
               </div>
               <div class="grid__item large--one-third medium--one-third">
                  <h5>new season sale</h5>
                  <p>up to 50% off</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>