<section>
   <div class="wrapper">
      <div class="inner space-40 section-brand">
         <!-- /templates/snippets/section-brand.liquid -->
         <hr>
         <div class="brands-carousel owl-carousel owl-theme " id="brands-carousel" data-items="6" data-pagination="false" data-navigation="true"
            data-autoPlay="false">
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_1.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_2.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_3.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_4.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_5.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_6.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_7.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_8.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_9.jpg?3617569351442115498" alt="" />
               </a>
            </div>
            <div class="text-center">
               <a class="brand" href="#" title="">
                  <img src="//cdn.shopify.com/s/files/1/1195/4332/t/2/assets/brand_logo_10.jpg?3617569351442115498" alt="" />
               </a>
            </div>
         </div>
      </div>
   </div>
</section>