{% comment %} The contents of the product.liquid template can be found in /sections/product-template.liquid {% endcomment%}

{% comment %}
{% section 'product-fashion-template' %}
{% endcomment %}

<script src="//cdn.shopify.com/s/assets/themes_support/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js"
   type="text/javascript"></script>
<script>
	var selectCallback = function (variant, selector) {
		if (variant) {
			if (variant.available) {
				// Selected a valid variant that is available.
				$('#AddToCart').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200, 1);
			} else {
				// Variant is sold out.
				$('#AddToCart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,
					0.5);
			}
			// Whether the variant is in stock or not, we can update the price and compare at price.
			if (variant.compare_at_price > variant.price) {
				$('#ProductPrice').html('<span class="product-price on-sale">' + Shopify.formatMoney(variant.price,
					"") + '</span>' + '&nbsp;<s class="product-compare-price">' + Shopify.formatMoney(
					variant.compare_at_price, '<span class="money">${{amount}}</span>') + '</s>');
			} else {
				$('#ProductPrice').html('<span class="product-price">' + Shopify.formatMoney(variant.price,
					'<span class="money">${{amount}}</span>') + '</span>');
			}
		} else {
			// variant doesn't exist.
			$('#AddToCart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,
				0.5);
		}
		if (variant && variant.featured_image) {
			var originalImage = $(".product-single__photos img");
			var newImage = variant.featured_image;
			var element = originalImage[0];
			Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
				$(element).parents('a').attr('href', newImageSizedSrc);
				$(element).attr('src', newImageSizedSrc);
			});
		}
	}
	jQuery(function ($) {
		new Shopify.OptionSelectors('productSelect', {
			product: {
				"id": 5330185665,
				"title": "Dress beautiful girls #001",
				"handle": "dress-beautiful-girls-001",
				"description": "\u003cspan\u003eTo be successful you’ve got to work hard, to make history, simple, you’ve got to make it. I’m up to something. Find peace, life is like a water fall, you’ve gotta flow. They never said winning was easy. Some people can’t handle success, I can. Surround yourself with angels. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. The key to more success is to have a lot of pillows. We don’t see them, we will never see them.\u003c\/span\u003e",
				"published_at": "2016-04-05T00:26:00-04:00",
				"created_at": "2016-03-03T21:36:46-05:00",
				"vendor": "mode-room",
				"type": "dress",
				"tags": ["$35  -  $100", "blue", "clothes", "dress", "fashion", "girls"],
				"price": 15000,
				"price_min": 15000,
				"price_max": 30000,
				"available": true,
				"price_varies": true,
				"compare_at_price": 20000,
				"compare_at_price_min": 20000,
				"compare_at_price_max": 20000,
				"compare_at_price_varies": false,
				"variants": [{
					"id": 16440302593,
					"title": "L \/ red",
					"option1": "L",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": {
						"id": 1016188207130,
						"product_id": 5330185665,
						"position": 3,
						"created_at": "2017-11-29T01:54:15-05:00",
						"updated_at": "2017-11-29T01:54:15-05:00",
						"alt": null,
						"width": 650,
						"height": 879,
						"src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/red.png?v=1511938455",
						"variant_ids": [16440302593]
					},
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ red",
					"public_title": "L \/ red",
					"options": ["L", "red"],
					"price": 20000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302657,
					"title": "L \/ blue",
					"option1": "L",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": {
						"id": 1016191909914,
						"product_id": 5330185665,
						"position": 4,
						"created_at": "2017-11-29T01:54:41-05:00",
						"updated_at": "2017-11-29T01:54:41-05:00",
						"alt": null,
						"width": 650,
						"height": 879,
						"src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/green.png?v=1511938481",
						"variant_ids": [16440302657, 16440302849]
					},
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ blue",
					"public_title": "L \/ blue",
					"options": ["L", "blue"],
					"price": 15000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302721,
					"title": "L \/ orange",
					"option1": "L",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": {
						"id": 10073066241,
						"product_id": 5330185665,
						"position": 2,
						"created_at": "2016-03-17T00:17:54-04:00",
						"updated_at": "2016-03-17T00:18:09-04:00",
						"alt": null,
						"width": 500,
						"height": 717,
						"src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/product1_4ec99af3-5771-4181-8113-89651b57e737.jpg?v=1458188289",
						"variant_ids": [16440302721]
					},
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ orange",
					"public_title": "L \/ orange",
					"options": ["L", "orange"],
					"price": 30000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302785,
					"title": "XS \/ black",
					"option1": "XS",
					"option2": "black",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": {
						"id": 1016196562970,
						"product_id": 5330185665,
						"position": 5,
						"created_at": "2017-11-29T01:55:11-05:00",
						"updated_at": "2017-11-29T01:55:11-05:00",
						"alt": null,
						"width": 650,
						"height": 880,
						"src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/black.png?v=1511938511",
						"variant_ids": [16440302785]
					},
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ black",
					"public_title": "XS \/ black",
					"options": ["XS", "black"],
					"price": 20000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302849,
					"title": "L \/ black",
					"option1": "L",
					"option2": "black",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": {
						"id": 1016191909914,
						"product_id": 5330185665,
						"position": 4,
						"created_at": "2017-11-29T01:54:41-05:00",
						"updated_at": "2017-11-29T01:54:41-05:00",
						"alt": null,
						"width": 650,
						"height": 879,
						"src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/green.png?v=1511938481",
						"variant_ids": [16440302657, 16440302849]
					},
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ black",
					"public_title": "L \/ black",
					"options": ["L", "black"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302913,
					"title": "L \/ pink",
					"option1": "L",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ pink",
					"public_title": "L \/ pink",
					"options": ["L", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440302977,
					"title": "L \/ yellow",
					"option1": "L",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ yellow",
					"public_title": "L \/ yellow",
					"options": ["L", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303041,
					"title": "L \/ green",
					"option1": "L",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - L \/ green",
					"public_title": "L \/ green",
					"options": ["L", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303105,
					"title": "XL \/ red",
					"option1": "XL",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ red",
					"public_title": "XL \/ red",
					"options": ["XL", "red"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303169,
					"title": "XL \/ blue",
					"option1": "XL",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ blue",
					"public_title": "XL \/ blue",
					"options": ["XL", "blue"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303233,
					"title": "XL \/ orange",
					"option1": "XL",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ orange",
					"public_title": "XL \/ orange",
					"options": ["XL", "orange"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303297,
					"title": "XL \/ white",
					"option1": "XL",
					"option2": "white",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ white",
					"public_title": "XL \/ white",
					"options": ["XL", "white"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303361,
					"title": "XXXL \/ black",
					"option1": "XXXL",
					"option2": "black",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXXL \/ black",
					"public_title": "XXXL \/ black",
					"options": ["XXXL", "black"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303425,
					"title": "XL \/ pink",
					"option1": "XL",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ pink",
					"public_title": "XL \/ pink",
					"options": ["XL", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303489,
					"title": "XL \/ yellow",
					"option1": "XL",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ yellow",
					"public_title": "XL \/ yellow",
					"options": ["XL", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303553,
					"title": "XL \/ green",
					"option1": "XL",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XL \/ green",
					"public_title": "XL \/ green",
					"options": ["XL", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303617,
					"title": "XXL \/ red",
					"option1": "XXL",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ red",
					"public_title": "XXL \/ red",
					"options": ["XXL", "red"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303681,
					"title": "XXL \/ blue",
					"option1": "XXL",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ blue",
					"public_title": "XXL \/ blue",
					"options": ["XXL", "blue"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303745,
					"title": "XXL \/ orange",
					"option1": "XXL",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ orange",
					"public_title": "XXL \/ orange",
					"options": ["XXL", "orange"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303809,
					"title": "XXL \/ white",
					"option1": "XXL",
					"option2": "white",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ white",
					"public_title": "XXL \/ white",
					"options": ["XXL", "white"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303873,
					"title": "XXL \/ black",
					"option1": "XXL",
					"option2": "black",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ black",
					"public_title": "XXL \/ black",
					"options": ["XXL", "black"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440303937,
					"title": "XXL \/ pink",
					"option1": "XXL",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ pink",
					"public_title": "XXL \/ pink",
					"options": ["XXL", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304001,
					"title": "XXL \/ yellow",
					"option1": "XXL",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ yellow",
					"public_title": "XXL \/ yellow",
					"options": ["XXL", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304065,
					"title": "XXL \/ green",
					"option1": "XXL",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XXL \/ green",
					"public_title": "XXL \/ green",
					"options": ["XXL", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304129,
					"title": "M \/ red",
					"option1": "M",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ red",
					"public_title": "M \/ red",
					"options": ["M", "red"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304193,
					"title": "M \/ blue",
					"option1": "M",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ blue",
					"public_title": "M \/ blue",
					"options": ["M", "blue"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304257,
					"title": "M \/ orange",
					"option1": "M",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ orange",
					"public_title": "M \/ orange",
					"options": ["M", "orange"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304321,
					"title": "M \/ white",
					"option1": "M",
					"option2": "white",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ white",
					"public_title": "M \/ white",
					"options": ["M", "white"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304385,
					"title": "M \/ black",
					"option1": "M",
					"option2": "black",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ black",
					"public_title": "M \/ black",
					"options": ["M", "black"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304449,
					"title": "M \/ pink",
					"option1": "M",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ pink",
					"public_title": "M \/ pink",
					"options": ["M", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304513,
					"title": "M \/ yellow",
					"option1": "M",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ yellow",
					"public_title": "M \/ yellow",
					"options": ["M", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304577,
					"title": "M \/ green",
					"option1": "M",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - M \/ green",
					"public_title": "M \/ green",
					"options": ["M", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304641,
					"title": "S \/ red",
					"option1": "S",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ red",
					"public_title": "S \/ red",
					"options": ["S", "red"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304705,
					"title": "S \/ blue",
					"option1": "S",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ blue",
					"public_title": "S \/ blue",
					"options": ["S", "blue"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304769,
					"title": "S \/ orange",
					"option1": "S",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ orange",
					"public_title": "S \/ orange",
					"options": ["S", "orange"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304833,
					"title": "S \/ white",
					"option1": "S",
					"option2": "white",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ white",
					"public_title": "S \/ white",
					"options": ["S", "white"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440304961,
					"title": "S \/ pink",
					"option1": "S",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ pink",
					"public_title": "S \/ pink",
					"options": ["S", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305025,
					"title": "S \/ yellow",
					"option1": "S",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ yellow",
					"public_title": "S \/ yellow",
					"options": ["S", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305153,
					"title": "S \/ green",
					"option1": "S",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - S \/ green",
					"public_title": "S \/ green",
					"options": ["S", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305217,
					"title": "XS \/ red",
					"option1": "XS",
					"option2": "red",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ red",
					"public_title": "XS \/ red",
					"options": ["XS", "red"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305281,
					"title": "XS \/ blue",
					"option1": "XS",
					"option2": "blue",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ blue",
					"public_title": "XS \/ blue",
					"options": ["XS", "blue"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305345,
					"title": "XS \/ orange",
					"option1": "XS",
					"option2": "orange",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ orange",
					"public_title": "XS \/ orange",
					"options": ["XS", "orange"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305409,
					"title": "XS \/ white",
					"option1": "XS",
					"option2": "white",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ white",
					"public_title": "XS \/ white",
					"options": ["XS", "white"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305537,
					"title": "XS \/ pink",
					"option1": "XS",
					"option2": "pink",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ pink",
					"public_title": "XS \/ pink",
					"options": ["XS", "pink"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305601,
					"title": "XS \/ yellow",
					"option1": "XS",
					"option2": "yellow",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ yellow",
					"public_title": "XS \/ yellow",
					"options": ["XS", "yellow"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": null,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}, {
					"id": 16440305665,
					"title": "XS \/ green",
					"option1": "XS",
					"option2": "green",
					"option3": null,
					"sku": "",
					"requires_shipping": true,
					"taxable": true,
					"featured_image": null,
					"available": true,
					"name": "Dress beautiful girls #001 - XS \/ green",
					"public_title": "XS \/ green",
					"options": ["XS", "green"],
					"price": 25000,
					"weight": 0,
					"compare_at_price": 20000,
					"inventory_quantity": 1,
					"inventory_management": null,
					"inventory_policy": "deny",
					"barcode": ""
				}],
				"images": [
					"\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/product1.jpg?v=1458188289",
					"\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/product1_4ec99af3-5771-4181-8113-89651b57e737.jpg?v=1458188289",
					"\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/red.png?v=1511938455",
					"\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/green.png?v=1511938481",
					"\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/black.png?v=1511938511"
				],
				"featured_image": "\/\/cdn.shopify.com\/s\/files\/1\/1195\/4332\/products\/product1.jpg?v=1458188289",
				"options": ["Size", "Color"],
				"content": "\u003cspan\u003eTo be successful you’ve got to work hard, to make history, simple, you’ve got to make it. I’m up to something. Find peace, life is like a water fall, you’ve gotta flow. They never said winning was easy. Some people can’t handle success, I can. Surround yourself with angels. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. The key to more success is to have a lot of pillows. We don’t see them, we will never see them.\u003c\/span\u003e"
			},
			onVariantSelected: selectCallback,
			enableHistoryState: true
		});
		// Add label if only one product option and it isn't 'Title'. Could be 'Size'.
		// Hide selectors if we only have 1 variant and its title contains 'Default'.
	});
</script>